<?xml version="1.0"?>
<ruleset name="CiviCRM Configuration Manager">
  <description>CiviCRM extension coding standards.</description>
  <arg name="basepath" value="."/>
  <arg name="colors"/>
  <arg value="p"/>
  <arg name="extensions" value="php,module,inc,install"/>
  <file>CRM</file>
  <file>Civi</file>
  <file>configmanager.php</file>
  <file>settings</file>
  <file>tests</file>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>*/tests/playwright/*</exclude-pattern>
  <rule ref="CiviCRM"/>
</ruleset>
